/* #card{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
} */
.signup-page{
    display: flex;
    justify-content: space-evenly;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    margin-left: -200px;
}
img{
    margin-top: 10px;
    margin-left: 10px;
    height: 400px;
    width: 500px;
}
#button{
    /* padding: 15px; */
    display: block;
    /* padding: 14px 28px; */
    text-align: center;
    font-size: 16px;
    width: 40%;
    border-radius: 50px;
    background-color: rgba(10, 10, 233, 0.918);
    margin-top: 55px;
    margin-left: 100px;
}
.Right{
    background-color: rgba(10, 10, 233, 0.918) !important;
    height: 700px !important;
    margin-left: 100px !important;
}
