.ats{ 
    background-color:#302ECC;
    color: white;
    font-family: 'Poppins', sans-serif; 
}
.wl{
    font-weight: bold;
    font-size: 24px;
}
.fc{
    background-image: url(./nf/Group661.png);
    background-color:#302ECC ;
    background-position: 60% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    height: 200px !important;
    width: 200px !important;
    margin-top: 320px !important;
    margin-left: 100px !important; 
}
.bitcoin{
    height: 200px !important;
    width: 200px !important;
    margin-top: 320px !important;
    margin-left: 100px !important; 
}
.cf{
    font-size: 100px;
    font-weight: bold;
}
.wel{
    margin-top: 200px;
    margin-left: 150px;
    margin-bottom: 200px;
}
.tsize{
    font-size: 50px;
}
.tsizet{
    font-size: 32px;
}
.shaw{
    margin-top: 45px;
    padding: 50px 50px;
    background: transparent linear-gradient(180deg, #0F0DBB 0%, #1210BD 58%, #2D2BCC 100%) 0% 0% no-repeat padding-box;
    border-radius: 28px;
    box-shadow: 35px -35px #302cc4;
    height: 610px;;
}
.sc{
    margin-left: 200px;
}
.ths{
    background-image: url(./nf/dots-circle@2x.png);
    background-position: bottom;
    background-repeat: bottom 15%;
}
.moneyg{
    height: 921px !important;
    width: 842px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
}
.dollar{
    margin-top: 10px !important;
    margin-bottom: 50px !important;
}
.CM{
    font-size: 28px;
}
.tfof{
    font-size: 57px;
}
.rlf{
    font-size: 20px;
}
.buycpy{
    margin-top: 150px;
    font-size: 79px;
    width: 500px;
    font-weight: bold;
}
.dollar{
    height: 200px !important;
    width: 200px !important;
}

@media only screen and (max-width: 992px) {

    .fc{
        background-image: none;
        width: 450px;
    }
    .bitcoin{
        display: none;
    }
    .wel{
        margin-left: -250px;
        margin-top: 30px;
        text-align: left;
        width: 100px !important;
        margin-right: 30px;
        background-image: none;
    }
    .cf{
        font-size: 45px;
    }
    .fc{
        background-position:center;
        width: 500px;
    }
    .wl{
        width: auto;
        text-align: center;
    }
    .moneyg{
        display: none;
    }
    .ok{
        display: none;
    }
    .this{
        margin-left: -200px !important;
        width: 1100px !important;
        margin-top: -100px;
    }
    .cm{
        text-align: left !important;
        margin-left: 20px;
        width: 400px !important;
        font-size: medium;

    }
    .ths{
        background-image: none;
    }
    .buycry{
        font-size: 20px !important;
    }
}