.container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}



.col2{
    background-color: white;
    display: flex;
    justify-content: center;
    top: 183px;
    left: 391px;
    width: 1245px;
    height: 545px;
    margin-left: 120px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 25px #00000029;
    border-radius: 10px;
    opacity: 1;
}
.form{
    padding: 30px;
    width: 1045px;
    margin-top: 50px;
    margin-left: 20px;
    justify-content: center;
}
.SubButtn{
    margin-top: 60px;
    margin-left:350px;
    background: transparent linear-gradient(180deg, #2F2DD6 0%, #18173D 100%) 0% 0% no-repeat padding-box;
    border-radius: 15px;
    width: 250px;
}


