.ads{
    top: -408.52392578125px;
    left: -162.08987426757812px;
    width: 849px;
    height: 631px;
    transform: matrix(0.93, 0.37, -0.37, 0.93, 0, 0);    
    background: #CFCFCF 0% 0% no-repeat padding-box;
    mix-blend-mode: soft-light;
    opacity: 0.48;
    border-radius: 50% 0%;
    transform: rotate(.100turn);
} 
.awd{
    margin-left: -750px !important;
}
.forgetlogo{
    margin-top: -300px !important;
    margin-left: 70px;
    width: 400px;
    height: 400px;
    margin-bottom: 80px;
}
.card{
    position: absolute;
    margin-left: 650px !important;
    margin-top: -750px !important;
    color: #1a1a1a;
    height: 600px;
    width: 800px;
    border-radius: 5%;
}
.card-body{
    padding-top: 100px;
}
.card-title{
    font-size: 34px;
}
.card-subtitle{
    font-size: 23px;
    width: 650px;
    margin-left: 66px;
    margin-bottom: 70px;
}
.textf{
    width: 464px;
    height: 91px;
    border-radius: 50% !important;
    margin-bottom: 50px;
}
.card-body{
    height: 300px !important;
}
.si{
    width: 230px !important;
    height: 77px !important;
    background: transparent linear-gradient(180deg, #2F2DD6 0%, #18173D 100%) 0% 0% no-repeat padding-box !important;
    color: white;
}
@media only screen and (max-width: 992px){

    .firstrow{
        display: none;
    }
    .secondrow{
        display: none;
    }
    .card{
        margin-left: 30px;
        margin-top: 30px;
        width: auto;
        margin-bottom: 50px;
    }
    .thirdrow{
        width: 400px
    }
    .textf{
        width: 300px;
    }
    .card-subtitle{
        margin-left: 10px;
        width: auto;
    }
}