
.ovalc{
    top: -408.52392578125px;
    left: -162.08987426757812px;
    width: 849px;
    height: 631px;
    transform: matrix(0.93, 0.37, -0.37, 0.93, 0, 0);    
    background: #CFCFCF 0% 0% no-repeat padding-box;
    mix-blend-mode: soft-light;
    opacity: 0.48;
    border-radius: 50% 0%;
    transform: rotate(.100turn);
}
.kyc{
    margin-left: -740px;
    font-size: 50px;
}
.card-title{
    font-size: 24px;
    color: #3634E0;
    margin-top: -50px;
    margin-left: 20px;
}
.card-text{
    color: #5858589C;
    margin-left: 20px;
}
.outsidecard{
    width: 1200px !important;
    height: 680px !important;
    margin-left:300px !important;
    margin-top: -600px !important;
    border-radius: 10px !important;
    margin-bottom: 800px !important;
}
.filelogo{
    width: 129px !important;
    height: 172px !important;
    padding: 10px !important;
    margin-top: 40px !important;
    margin-left: 70px !important;
    margin-bottom: 80px !important;
}
.insidecard{
    width: 282px !important;
    height: 310px !important;
    margin-top: 0px !important;
    margin-left: 50px !important;
    border: 1px dashed #3634E09C !important;
    border-radius: 15px !important;
}

.one{
    margin-left: 420px !important;
}
.two{
    margin-left: 800px !important;
}
.ic{
    margin-top: -100px;
    font-size: 14px;
    margin-left: 0px;
}
.btn-outline-primary{
    margin-top: 30px;
    background-color: white !important;
    color: #3634E0;
    width: 180px !important;
}
.lastbutton{
    margin-top:430px;
    margin-left: 420px;
    background: transparent linear-gradient(180deg, #2F2DD6 0%, #18173D 100%) 0% 0% no-repeat padding-box;
    border-radius: 15px;
    width: 300px !important;
    height: 50px;
}
h6{
    color: #302ECC;
}
.line{
    margin-top: -20px;
}
i{
    margin-right: 4px;
}
h6{
    font-size: 15px;
}
.browse1{
    margin-top: 85px;
}
.browse2{
    margin-top: 60px;
}
.forthesecond{
    margin-top: 520px;
}
.for2{
    height: 730px !important; 
}
.changehere{
    height: 200px;
    background-color: #302ECC;
}
@media only screen and (max-width: 550px){
    .ovalc{
        background-color: #302ECC;
        transform:none;
        height: 1500px;
    }

    .outsidecard{
        width: 400px;
        margin-left: 20px;
        height: 1500px;
        margin-bottom: 50px;
        margin-top: -1450px;
    }
    .for2{
        height: 1800px;
    }
    .zero{
        margin-left:30px;
    }
    .one{
        margin-top: 400px;
        margin-left:30px;
    }
    .two{
        margin-left: 30px;
        margin-top: 800px;
    }
    .lastbutton{
        margin-top: 1220px;
        margin-left: 25px;
    }
    .kyc{
        margin-left: -100px;
        margin-top: -10px;
    }
    .three{
        margin-top: 500px;
    }
    .four{
        margin-top: 1000px;
    }
    .forthesecond{
        margin-top: 1530px;
    }
    .changehereone{
        height: 400px;
    }

}
