.navbar{
    background-color: #302ECC !important;
    font-family:'Poppins', sans-serif !important;
    z-index: 0;
}
.navbar-brand{
    font-size: 40px !important;
    font-weight: 700 !important;
}
.mydiv{
    font-size: 24px;
    
}
.btn{
    background-color: #302ECC !important;
    width: 138px !important;
}
.nav-item{
    margin-left: 20px;
    margin-top: 10px;
}


@media only screen and (min-width: 992px) {
    .mydiv{
        margin-left: 555px;
    }
}