/* #card{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
} */
.signup-page{
    display: flex;
    justify-content: space-evenly;
}
.para {
    color: white;
    size: 15px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: left; */
}

#button{
    background-color: rgba(14, 14, 240, 0.932);
    border-radius: 50px;
    margin-top: 40px;
    margin-left: 150px;
}
#cardcontent{
    padding: 61px;
    font-variant: 2px;
}
#type {
    opacity: 0.50;
}