/* #card{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
} */

.signup-page{
    display: flex;
    justify-content: space-evenly;
}
.para {
    color: white;
    size: 15px;
}
.left{
    display: flex;
    flex-direction: column;
 
    margin-left: -1000px !important;
    /* align-items: left; */
}

.button{
    border-radius: 50px;
    color: white !important;
    text-decoration: none !important;
}
@media only screen and (max-width: 555px){
    .ovalc{
        display: none;
    }

}